<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.lac.wechat.dao.AppointMapper">

    <select id="findAppointByUser" parameterType="java.lang.String" resultType="cn.lac.wechat.domain.Appoint">
        select 
             appoint_id as appointId,
             (case service_type when 'MZ' then '民政服务'
             when 'CL' then '残联服务'
             when 'JS' then '计生服务'
             when 'SB' then '社保服务'
             else '' end) serviceType,
             appoint_time as appointTime,
             appoint_iphone as appointIphone,
             appoint_title as appointTitle,
             appoint_text as appointText,
             create_time as createTime,
             update_time as updateTime,
             (select user_name from zly_user b where b.user_id = a.appoint_user) appointUser,
             (case apply_status when '01' then '未确认'
             when '02' then '已受理'
             when '03' then '已驳回'
             else '' end) applyStatus,
             apply_user as applyUser,
             apply_text as applyText,
             apply_time as applyTime,
             apply_iphone as applyIphone
         from zly_appoint a where appoint_user=#{userId}
         order by create_time desc
    </select>


     <select id="selectByVo" parameterType="cn.lac.wechat.vo.QueryVo" resultType="cn.lac.wechat.domain.Appoint">
          select
          appoint_id as appointId,
          (case service_type when 'MZ' then '民政服务'
          when 'CL' then '残联服务'
          when 'JS' then '计生服务'
          when 'SB' then '社保服务'
          else '' end) serviceType,
          appoint_time as appointTime,
          appoint_iphone as appointIphone,
          appoint_title as appointTitle,
          appoint_text as appointText,
          b.user_name appointUser,
          (case apply_status when '01' then '未确认'
          when '02' then '已受理'
          when '03' then '已驳回'
          else '' end) applyStatus,
          apply_user as applyUser,
          apply_text as applyText,
          apply_time as applyTime,
          apply_iphone as applyIphone
          from zly_appoint a
          left join zly_user b on a.appoint_user = b.user_id
          where 1=1
         <if test="deptId != null and deptId != '' " >
             AND a.service_type IN (SELECT simple_name FROM sys_dept WHERE dept_id = #{deptId,jdbcType=INTEGER})
         </if>
          <if test="appointUser !=null and appointUser != '' ">
            and b.user_name like concat('%',#{appointUser,jdbcType=VARCHAR},'%')
          </if>
          <if test="serviceType !=null and serviceType != '' ">
            and a.service_type = #{serviceType,jdbcType=VARCHAR}
          </if>
          order by appointTime desc
          <if test="page!=null and limit != null">
               limit #{page,jdbcType=INTEGER},#{limit,jdbcType=INTEGER}
          </if>
     </select>
     <select id="countByVo" parameterType="cn.lac.wechat.vo.QueryVo" resultType="java.lang.Integer">
          select
          count(1)
          from zly_appoint a
          left join zly_user b on a.appoint_user = b.user_id
          where 1=1
         <if test="deptId != null and deptId != '' " >
             AND a.service_type IN (SELECT simple_name FROM sys_dept WHERE dept_id = #{deptId,jdbcType=INTEGER})
         </if>
          <if test="appointUser !=null and appointUser != '' ">
            and b.user_name like concat('%',#{appointUser,jdbcType=VARCHAR},'%')
          </if>
          <if test="serviceType !=null and serviceType != '' ">
            and a.service_type = #{serviceType,jdbcType=VARCHAR}
          </if>
     </select>



    <select id="findById" parameterType="java.lang.String" resultType="cn.lac.wechat.domain.Appoint">
        select
        appoint_id as appointId,
        (case service_type when 'MZ' then '民政服务'
        when 'CL' then '残联服务'
        when 'JS' then '计生服务'
        when 'SB' then '社保服务'
        else '' end) serviceType,
        appoint_time as appointTime,
        appoint_iphone as appointIphone,
        appoint_title as appointTitle,
        appoint_text as appointText,
        create_time as createTime,
        update_time as updateTime,
        (select user_name from zly_user b where b.user_id = a.appoint_user) appointUser,
        (case apply_status when '01' then '未确认'
        when '02' then '已受理'
        when '03' then '已驳回'
        else '' end) applyStatus,
        apply_user as applyUser,
        apply_text as applyText,
        apply_time as applyTime,
        apply_iphone as applyIphone
        from zly_appoint a where appoint_id=#{appointId,jdbcType=VARCHAR}
    </select>
</mapper>